body{
  background-color:black
}

card{
  width:25px
}

card{
}
h1{
  padding-bottom:50px;
  padding-top:50px;
  text-align:center;
  font-size: 100px;
  color:floralwhite;
  font-family:Bebas Neue;
}
img{
  width:150%;
  margin-right:150%;
}
.centered {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  font-family:Bebas Neue;
  font-size:150px;
  color:antiquewhite;
}

.row {
  padding-bottom:30px;
  padding-left:43px;
}